<%- contentFor('html_attribute') %>

<%- contentFor('extra_css') %>

<%- contentFor('body_attribute') %>

<%- contentFor('content') %>

<div class="auth-bg d-flex min-vh-100">
    <div class="row g-0 justify-content-center w-100 m-xxl-5 px-xxl-4 m-3">
        <div class="col-xxl-3 col-lg-5 col-md-6">
            <a href="index" class="auth-brand d-flex justify-content-center mb-2">
                <img src="/images/logo-dark.png" alt="dark logo" height="26" class="logo-dark">
                <img src="/images/logo.png" alt="logo light" height="26" class="logo-light">
            </a>

            <p class="fw-semibold mb-4 text-center text-muted fs-15">Admin Panel Design by Coderthemes</p>

            <div class="card overflow-hidden text-center p-xxl-4 p-3 mb-0">

                <h4 class="fw-semibold mb-3 fs-18">Log in to your account</h4>

                <a class="btn btn-primary fw-semibold w-100" href="/auth-salesforce">Login con Salesforce</a>

            </div>
            <p class="mt-4 text-center mb-0">
                <script>document.write(new Date().getFullYear())</script> © Adminto - By <span
                    class="fw-bold text-decoration-underline text-uppercase text-reset fs-12">Coderthemes</span>
            </p>
        </div>
    </div>
</div>

<%- contentFor('extra_javascript') %>